.shiny-text {
  color: #ff00ff90; /* Adjust this color to change intensity/style */
  /* -webkit-text-stroke: 1px #0000ff; */
  background: linear-gradient(
    120deg,
    rgba(0, 0, 255, 1) 30%,
    rgb(250, 115, 255) 50%,
    rgba(0, 0, 255, 1) 70%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 3s linear infinite;
  font-weight: 500;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
