.shiny-text {
  color: color-mix(in srgb, var(--magenta) 56%, transparent); /* Adjust this color to change intensity/style */
  /* -webkit-text-stroke: 1px var(--blue); */
  background: linear-gradient(
    120deg,
    var(--blue) 30%,
    rgb(250, 115, 255) 50%,
    var(--blue) 70%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 3s linear infinite;
  font-weight: 400;
  font-family: var(--font-geist-mono), monospace;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
